.main {
  padding: 16px 200px 32px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height)); // 画面の高さからヘッダ, フッタの高さを引く

  .about {
    font-weight: bold;
    margin-bottom: 48px;
  }

  .posts {
    margin-bottom: 48px;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .all_posts {
    margin: auto 0 16px;
    text-align: center;
    font-weight: bold;
  }
}
