.main {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 16px 20px 64px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height)); // 画面の高さからヘッダ, フッタの高さを引く
  display: flex;
  flex-direction: column;

  .about {
    font-weight: bold;
    margin-bottom: 24px;
  }

  .posts {
    margin-bottom: 48px;

    .not_posted {
      text-align: center;
    }

    ul,
    li {
      margin-bottom: 16px;
      padding: 0;
      list-style: none;
    }
  }

  .all_posts {
    margin-top: auto;
    text-align: center;
    font-weight: bold;
  }
}
