.main {
  padding: 48px 200px 48px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height)); // 画面の高さからヘッダ, フッタの高さを引く

  .posts {
    margin-bottom: 48px;

    ul,
    li {
      margin: 0 0 32px;
      padding: 0;
      list-style: none;
    }
  }
}
