.main {
  max-width: var(--content-max-width);
  padding: 0 20px 0;
  margin: 16px auto 48px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height)); // 画面の高さからヘッダ, フッタの高さを引く

  .posts {
    .not_posted {
      text-align: center;
    }

    ul,
    li {
      margin-bottom: 16px;
      padding: 0;
      list-style: none;
    }
  }
}
