.footer {
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid none none none;
  border-color: var(--color-darkgray);
  background-color: var(--color-white);

  .links {
    .github {
      width: 32px;
      height: 32px;
    }
  }
}
