.header {
  height: var(--header-height);
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-style: none none solid none;
  border-color: #888888;
  background-color: #FFFFFF;

  .icon {
    width: 48px;
    height: 48px;
  }

  .breadcrumbs {
    font-size: 1.25rem;
    margin-left: 24px;
  }
}
