.post_list {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 24px 32px;
  border-style: solid;
  border-color: var(--color-darkgray);

  .title {
    font-size: 1.25rem;
  }

  .meta {
    padding: 12px 0 0;
  }
}

