/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

:root {
  --color-background: #EEEEEE;
  --color-subbackground: #EEEEEE;
  --color-text: #000000;
  --color-link: #66C4ED;

  --color-white: #FFFFFF;
  --color-gray: #EEEEEE;
  --color-darkgray: #888888;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: var(--color-gray);
  color: var(--color-text)
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}
